* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 20px;
  border: 1px solid #cacaca;
}

.headerBg1{
  width: 100%;
  height: 20vh;
  background-color: #565656;
  padding-left: 45%;
}

.headerBg2{
  width: 100%;
  height: 4vh;
  background-color: #EEEEEE;
}

.headerBg3{
  width: 100%;
  height: 3vh;
  background-color: #565656;
}

.contactDetails{
  padding: 13px 0px 5px 30%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #767676;
}

header hr{
  border: 1px solid#cacaca;
}

.userImage{
  background-image: url('./images/user2.jpg');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  position: relative;
  top: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.userName{
  position: relative;
  left: -60px;
  top: -5px;
  background-color: #F8BE27;
  font-size: 41px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 82px;
  width: 320px;
  padding-top: 19px;
  padding-left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #3b3b3b;
}

/******************************************************************Resume Body*********************************************************************************/
.fullBody{
  width: 100%;
  height: 65vh;
}

.bodyHalf1{
  width:48%;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* .bodyHalf2{
  width: 1%;
  display: inline-block;
  padding-top: 10px;
}

.v1{
  border-left: 1px solid #767676;
  height: 100px;
  box-sizing: border-box;
} */

.bodyHalf3{
  width:48%;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
}

.heading1{
  width: 100%;
}

.headingImage{
  display: inline-block;
  font-size: 30px;
}

.headingTitle{
  display: inline-block;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #767676;
  padding-left: 10px;
}